.body
{
    background-image:"url(logoanterest.jpeg)";

}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #d2691e;
  border: 1px solid #d2691e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #d2691e;
}