body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.Footer{
  padding: 1rem;
  background-color: #DBA25C;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  grid-row-start: 2;
  grid-row-end: 3;
  position:fixed;


}

a.social {
  margin: 0 1rem;
  transition: transform 150ms;
  display: inline-block;

}

a.social:hover {
  transform: translateY(-4px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}