.navbar {
	background-color: #DBA25C;
	display: inline-block;
    width: 1500px;
    margin: 0 auto;
    height: 11%;
	position:fixed;
	top:0;
}

.image{
    float: left;
    margin-left: 10px;
    width: 13%;
    height: 13%;
}

.navbar li{
    list-style: none;
    display:inline-block;
    margin:auto;
}


